---
import MainLayout from "../layouts/MainLayout.astro";

// Server Only
const name = "Benji Martinez Flores";
---

<MainLayout title="Home Page">
  <h1>{name}</h1>

  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>

  <script>
    const currentTime: string = new Date().toLocaleTimeString();

    const paragraph = document.querySelector(
      "#current-time"
    ) as HTMLParagraphElement;

    paragraph.innerText = `Momento actual real: ${currentTime}`;
  </script>
</MainLayout>
